* {
    box-sizing: border-box;
}

.colors-convector {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colors-convector > * {
    height: 53px;
    width: 200px;
    padding: 1rem .5rem;
    text-align: center;
    background-color: black;
    opacity: .5;
    color: white;
}

.colors-convector .hex {
    border: none;
    margin-bottom: .5rem;
}
